

.contenedor{

width: 800px !important;


}

.titulo {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 45px;
    margin: 0;
    background-color: rgb(238, 238, 32);
    color: rgb(0, 0, 0);
}

.subti{

    font-family:'Courier New', Courier, monospace;

}
.menu {
    padding-bottom: 10px;
    margin-bottom: 5px;
    border: 1px black solid;
    background-color: rgb(12, 164, 154);
    color: white;
  } 

  .img {
    width: 400px;
    height: 400px;
    position: relative;
}

.texto {
    font-size: 30px;
    font-weight: bold;
    color:blue;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boton{
    font-family:'Courier New', Courier, monospace;
width: 200px;
justify-content: center;
    margin: auto;
}












